<h1> Name: <%= @recipe.name %></h1>
<p> Ingredients: <%= @recipe.ingredients%> </p>
<p> Cook Time: <%= @recipe.cook_time%> </p>

<a href="/recipes">All Recipes </a>
<a href="/recipes/<%=@recipe.id%>/edit">Edit </a>
<form method="POST" action="/recipes/<%=@recipe.id%>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
</form>